.themes-page {
    margin: 0 auto;
    max-width: 1000px;
}
.themes-title {
    margin: 40px 0 0;
}
.theme-list {
    padding:0;
    list-style: none;
    counter-reset: li;;
}
.theme {
    display: grid;

    grid-template-columns: 200px 1fr;
    grid-row-gap: 15px;

    justify-items: start;
    align-items: center;

    margin: 30px;

    padding: 10px;

    border: 1px solid rgb(168, 168, 168)
}
.theme__field {
    justify-self: start;
}
.theme__author {

}
.theme__content {

}
.theme__title {
    font-size: 25px;
    line-height: 40px;
    font-weight: bold;
}
.theme__description {
    font-size: 20px;
    line-height: 30px;
}
.theme__reporter {

}
.theme__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.theme__buttons .theme__button {
    height: auto;
    margin: 15px;
    opacity: 1;
}